
  
  @keyframes terminal-glitch {
    0% {
      transform: scale(1, 1.5);
    }
    50% {
      transform: scale(1, 1.2);
    }
    100% {
      transform: scale(1.2, 1);
    }
  }
  
  .terminal-glitch {
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 64, 0.1);
    background: radial-gradient(ellipse at center, #8e4c37 0%, #f6ff01 100%);
    transform-origin: 50% 50%;
    transform: scale(1.03);
    animation: terminal-glitch 0.1s linear infinite;
    opacity: 0.4;
    position: fixed;
    z-index: -1;
  }
  
  .terminal {
    position: absolute;
    z-index: 1;
    padding: 15px;
    top: 3%;
    right: 3%;
    bottom: 3%;
    left: 3%;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #b1803e;
    border-radius: 25px;
    border: 8px solid;
   border-color: #7d5b2d ;
    box-shadow: inset 0 0 10rem #020202, inset 0 0 3rem black, 0 0 10rem black;
  }
  
  .terminal::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #212121;
  }
  
  .terminal::-webkit-scrollbar {
    width: 10px;
    background-color: #3d3d3d;
  }
  
  .terminal::-webkit-scrollbar-thumb {
    border-radius: 2px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    background-color: #444;
  }
  
  @keyframes type {
    from {
      width: 0ch;
    }
    to {
      width: 54ch;
    }
  }
  
  .terminal-output div { /* Update this selector */
    font-size: 24px;
    margin: 1px 0;
    overflow: hidden;
    color: #f6ff01;
    font-family: "VT323", monospace;
    word-wrap: break-word;
  }
  
  .terminal-input-container {
    display: flex;
    align-items: center;
  }
  
  .terminal-input-container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #f6ff01;
    font-size: 24px;
    font-family: "VT323", monospace;
  }
  
  .terminal-prompt {
    color: #f6ff01;
    font-size: 24px;
    font-family: "VT323", monospace;
    margin-right: 5px;
  }
    
  