.parentContainer{
    flex:1;
    flex-direction: row;
    align-items: center;
    width: 90%;
    justify-content: center;
}

.customDialog{
    min-width: 1000px;
    min-height: 500px;
    max-height: 500px;
}

.customDialog2{
    height: 100%;
    margin: 0px;
    min-width: 1200px;
    min-height: 700px;
}